@font-face {
  font-family: "another_day_in_paradiseRg";
  src: url("Fonts/another_day_in_paradise-webfont.woff2") format("woff2"),
    url("Fonts/another_day_in_paradise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Signika Negative", sans-serif;
  margin: 0px;
}

body {
  display: flex;
}

header {
  position: relative;
  flex-basis: 33.33%;
}

.logo-container {
  background-image: url(images/palms.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.logo-text {
  font-family: "another_day_in_paradiseRg";
  color: white;
  letter-spacing: 2px;
  font-size: 5vw;
  padding: 10px 0;
  text-align: center;
  background-color: #6d747e52;
  position: absolute;
  top: 60px;
  width: 100%;
}

.credit {
  color: grey;
  font-size: 0.5rem;
}

.credit a {
  color: grey;
}

main {
  flex-basis: 66.66%;
  background-color: #ecedef;
}

p:first-child {
  padding-top: 60px;
}

.paragraphs-container p {
  display: block;
  line-height: 1.3rem;
  padding-left: 40px;
  font-size: 1.2rem;
  width: 60%;
}

.form-container {
  background-color: white;
  margin-top: 25px;
}

h1 {
  padding-left: 40px;
  padding-top: 30px;
  font-size: 1.5rem;
}

.form-field {
  margin: 5px 50px 10px 40px;
}

label {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
}

input {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding: 7px;
  width: 200px;
  font-size: 1rem;
  border-radius: 5px;
  display: block;
}

input:focus {
  outline: none !important;
  border: 1px solid rgb(0, 140, 255);
  box-shadow: 0 0 3px #719ece;
}

.name-container,
.contact-container,
.pw-container {
  display: flex;
}

.submit-btn {
  margin-left: 40px;
  position: relative;
  top: 110px;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
  background-color: rgb(38, 98, 29);
  transition: 0.3s all ease-in-out;
}

.submit-btn:hover {
  background-color: rgb(214, 146, 18);
}

#or-sign-in {
  position: relative;
  top: 30px;
  margin-left: 40px;
  font-size: 0.9rem;
}

#or-sign-in a {
  text-decoration: none;
  color: rgb(38, 98, 29);
}

#message {
  display: none;
  margin-left: 40px;
}

#message h3,
p {
  font-size: 10px;
}

.valid {
  color: rgb(38, 98, 29);
}

.valid:before {
  position: relative;
  left: -2px;
  content: "\2714";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -2px;
  content: "\2715";
}
